<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <title>BruinPlay</title>

	  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/styles.css">

    <script src="server.js"></script>

    <link rel="icon" href="images/icon.png" type="image/x-icon" />

</head>
<body>

	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  	    <a class="navbar-brand" href="#">Bruinplay</a>

  	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    	    <form class="form-inline my-2 my-lg-0 offset-md-9">
      	        <input class="form-control mr-sm-2" type="text" placeholder="Search">
      	        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    	    </form>
  	    </div>
	</nav>

    <div class="container">
        <div class="row music-row">
            <!-- xs (phones), sm (tablets), md (desktops), and lg (larger desktops) -->
            <div class="col-md-3"> 
                <img class="music" src="images/add.png">
            </div>
            <div class="col-md-3">
                <div class="itemsContainer">
                    <div class="play">
                        <img src="/images/play.png">
                    </div>
                    <div class="music opacity-effect"> 
                        <a href="#">  <img src="/images/add.png"></a>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted"></span>
        </div>
    </footer>

</body>
</html>